<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.scorpio92.kmd">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/kmd"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="ru.scorpio92.kmd.View.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ru.scorpio92.kmd.View.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="ru.scorpio92.kmd.View.DownloadManagerActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="ru.scorpio92.kmd.View.Settings"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="ru.scorpio92.kmd.View.About"
            android:label="@string/app_name" >
        </activity>

        <service
            android:enabled="true"
            android:name="ru.scorpio92.kmd.Services.AudioService">
        </service>

        <service
            android:enabled="true"
            android:name="ru.scorpio92.kmd.Services.DownloadService">
        </service>

        <receiver android:name="ru.scorpio92.kmd.Receivers.AudioServiceNotificationReceiver">
            <intent-filter>
                <action android:name="ru.scorpio92.kmd.Services.AudioService.PREV"/>
                <action android:name="ru.scorpio92.kmd.Services.AudioService.PLAY_PAUSE"/>
                <action android:name="ru.scorpio92.kmd.Services.AudioService.NEXT"/>
                <action android:name="ru.scorpio92.kmd.Services.AudioService.STOP"/>
            </intent-filter>
        </receiver>

        <receiver android:name="ru.scorpio92.kmd.Receivers.DownloadServiceNotificationReceiver">
            <intent-filter>
                <action android:name="ru.scorpio92.kmd.Services.DownloadService.PLAY_PAUSE"/>
                <action android:name="ru.scorpio92.kmd.Services.DownloadService.STOP"/>
                <action android:name="ru.scorpio92.kmd.Services.DownloadService.RESCAN"/>
            </intent-filter>
        </receiver>

        <receiver android:name="ru.scorpio92.kmd.Receivers.HeadsetPlugReceiver">
            <intent-filter>
                <action android:name="android.intent.action.HEADSET_PLUG"/>
            </intent-filter>
        </receiver>

        <receiver android:name="ru.scorpio92.kmd.Receivers.LockScreenReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>